.tabs-menu {
  position: relative;
  display: inline-flex;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--theme-ui-colors-gray-2, #f2f2f2);
}

.tabs-menu .pricing-tab {
  display: flex;
  height: 45px;
  padding: 0px 20px;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  opacity: 1;
  color: var(--theme-ui-colors-gray-8, #444444);
  font-size: 1rem; 
  line-height: 1rem;
  font-weight: bold;
  transition: all 250ms;
  text-transform: capitalize;
  cursor: pointer;
}

.tabs-menu .pricing-tab.active {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  background-color: var(--theme-ui-colors-lightblue, #4591F8);
  opacity: 1;
  color: #fff;
}